<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Citation Network Map</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
		<div class="starter-template">
			<br>
			<img src="data:image/png;base64, {{ authfig | safe }}" alt="Author {{author | safe}}'s co-author network (to two levels deep)" />
			<div class="caption">Author's co-author network to two degrees, limited to 120 nodes to maintain plot legibility.</div>
			<br>
			<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
		</div>
		</div>
	</body>
</html>
