<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Citation Network Map</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://d3js.org/d3.v3.min.js"></script>
	</head>
	<style>
		path.link {
		  fill: none;
		  stroke: #ccc;
		  stroke-width: 1.5px;
		}

		circle {
		  stroke: #4c4c4c;
		  stroke-width: 1.5px;
		}

		text {
		  fill: #000;
		  font: 10px sans-serif;
		}
	</style>
	<body>
		<div class="container">
		<div class="starter-template">
		    <br>
  			<p class="lead">Enter PMID Below</p>
			<form name="pmid" method='GET'>
			PMID: <input type="text" name="PMID">
			<button type="submit">Go</button>
			Or fetch a random article: <button type="submit" name="randompmid" value="1">Random</button>
			</form>
			{% if PMID != '' %}
			PMID: {{ PMID|safe }}
			{{ meta | safe }}
			<br>
			<div class="caption">Incoming and outgoing citation network for selected paper (to two levels deep in each direction):</div>
            <br>
		</div>
		</div>
		<script>
		// get the data
        var json = getData()
        
		var width = 800,
	        height = 800;

	    var force = d3.layout.force()
	        .nodes(json.nodes)
	        .links(json.links)
	        .size([width, height])
	        .linkDistance(30)
	        .charge(-300)
	        .on("tick", tick)
	        .start();

	    var svg = d3.select("body").append("svg")
	        .attr("width", width)
	        .attr("height", height);

	    // build the arrow.
	    svg.append("svg:defs").selectAll("marker")
	        .data(["end"]) // Different link/path types can be defined here
	        .enter().append("svg:marker") // This section adds in the arrows
	        .attr("id", String)
	        .attr("viewBox", "0 -5 10 10")
	        .attr("refX", 15)
	        .attr("refY", -1.5)
	        .attr("markerWidth", 6)
	        .attr("markerHeight", 6)
	        .attr("fill", "#4c4c4c")
	        .attr("orient", "auto")
	        .append("svg:path")
	        .attr("d", "M0,-5L10,0L0,5");

	    // add the links and the arrows
	    var path = svg.append("svg:g").selectAll("path")
	        .data(force.links())
	        .enter().append("svg:path")
	        //    .attr("class", function(d) { return "link " + d.type; })
	        .attr("class", "link")
	        .attr("marker-end", "url(#end)");

	    // make it so that nodes remain fixed after user drags them to new location
	    var drag = force.drag()
	        .on("dragstart", dragstart)
	        .on("dragend", dragend);
	    
	    function dragstart(d) {
	          d3.select(this).classed("fixed", d.fixed = true);
	    }
	    
	    function dragend(d) {
	          d3.select(this).classed("fixed", d.fixed = true);
	    }
	    
	    // define the nodes
	    var node = svg.selectAll(".node")
	        .data(force.nodes())
	        .enter().append("g")
	        .attr("class", "node")
	        .on("click", click)
	        .on("mouseover", mouseover)
	        .on("mouseout", mouseout)
	        .call(drag);

	    // add the nodes
	    node.append("circle")
	        .style("fill", function(d) { return d.color})
	        .attr("r", 6);

	    // add the text 
	    node.append("text")
	        .attr("x", 12)
	        .attr("dy", ".31em")
	        .style("fill", "black")
	        .style("opacity", .8)
	        .text(function(d) {
	            return d.ln;
	        });

	    // add the curvy lines
	    function tick() {
	        path.attr("d", function(d) {
	            var dx = d.target.x - d.source.x,
	                dy = d.target.y - d.source.y,
	                dr = Math.sqrt(dx * dx + dy * dy);
	            return "M" +
	                d.source.x + "," +
	                d.source.y + "A" +
	                dr + "," + dr + " 0 0,1 " +
	                d.target.x + "," +
	                d.target.y;
	        });

	        node
	            .attr("transform", function(d) {
	                return "translate(" + d.x + "," + d.y + ")";
	            });
	    }
	   
	    //action to take on mouseover
	    function mouseover() {
	            d3.select(this).select("circle").transition()
	                .duration(750)
	                .attr("r", 9)
	            d3.select(this).select("text").transition()
	                .duration(750)
	                .attr("dy", ".31em")
	                .style("stroke-width", ".5px")
	                .style("font", "20px serif")
	                .style("fill", "#000000")
	                .style("opacity", 1);
	        }
	    //action to take on mouseout
	    function mouseout() {
	            d3.select(this).select("circle").transition()
	                .duration(750)
	                .attr("r", 3.5)
	            d3.select(this).select("text").transition()
	                .duration(750)
	                .attr("dy", ".31em")
	                .style("font", "10px serif")
	                .style("fill", "black")
	                .style("opacity", .8);
	        }
	    
	    
	    // action to take on mouse click
	    function click(d) {
	        if (d3.event.defaultPrevented) return; // prevent following links when dragging
	        window.location.href = "index?PMID=" + d.name;
	        
	    };
        
        function getData() {
                return {{JSONCITENETWORK | safe}}
        }
		</script>
        {% endif %}
	</body>
</html>
